.completed-event-parent {
    /* margin-top: 3%; */
    margin-left:8%;
    margin-right: 3%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.eventsOuterDiv{
    display: flex;
    overflow-y: hidden;
    /* overflow-x: hidden; */
    /* margin-top: 5%; */
}
.completed-event-out{
    margin-top: 5%;
    overflow-x: hidden;
    margin-left: 5%;
}

.completed-event-parent::-webkit-scrollbar {
    display: none;
}

.completed-events {
    max-height: 35%;
    padding: 1%;
    z-index: 2;
}

.completed-event-heading {
    margin-left: 9%;
    color: #3FCF84;
    font-weight: 900;
    font-size: 60px;
}

.completed-events-container {
    z-index: 2;
    /* overflow-x: scroll; */
    overflow-x: hidden;
    display: flex;
    padding: 2%;
}

.completed-events-container::-webkit-scrollbar {
    -webkit-appearance: none;
}
.eventsOuterDiv::-webkit-scrollbar {
    -webkit-appearance: none;
}

.completed-event-block {
    width: 23rem;
    height: 520px;
    padding: 3%;
    border-radius: 50px;
    /* background-color: white; */
    /* background-color: #252525; */
    background-color: rgb(238, 239, 240);
    color: black;
}

.completed-event-img {
    height: 320px;
    margin-bottom: 5%;
    width: 330px;
    border-radius: 50px;
}

.completed-events-details {
    font-weight: 600;
    padding:2% 5%;
    height: 120px;
    overflow-y: scroll;
}
.completed-events-details::-webkit-scrollbar {
    -webkit-appearance: none;
}

.completed-event-name {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}

/* .right-arrow{
    font-size: 30px;
    position: relative;
    left: 59rem;
    bottom: 19rem;
} */