
/* intro  */
.club-intro {
  width: 70%;
  height: 10%;
  padding: 1%;
  position: relative;
  margin-top:5%;
  font-size: 18px;
  color: rgb(73, 73, 73);
}
.club-intro-div{
  display: flex;
}


.club-intro p {
  margin: 5%;
}
.club-intro-img{
  height: 270px;
}

.heading{
  margin-top:8%;
  margin-left: 5%;
  font-size: 60px;
  color:aliceblue;
  font-weight: 700;
}
.line2haeding{
  display: flex;
  color: #50f11f;
  font-weight: 700;
}
.headingAnimation{
  height:60px;
  overflow: hidden;
  width:fit-content;
  color:aliceblue;
  font-weight: 700;
  margin-left: 2%;
}
.logo_1{
  bottom: 10%;
  position: absolute;
  left:70%;
  width: 25%;
  z-index: 0;
}
.Explorebtn{
  background-color: aliceblue;
  width:25%;
  padding: 1%;
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-left: 5%;
  transition: 0.5s ease;
  font-weight: 600;
  font-size: 20px;
}
.Explorebtn:hover{
  background-color: #50f11f;
}
.Home{
  background-color: #282c34;
}

.home-bg-div {
  text-align: center;
}

.home-bg-img {
  height: 500px;
}

.first-heading {
  text-align: center;
  color: black;
  font-size: 60px;
  margin-top: 10%;
}



@media only screen and (max-width: 600px) {
  .club-intro {
    font-size: 12px;
    margin: 20% 2% 0 2%;
  }
  .club-intro-img{
    height: 150px;
    width: 200px;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  .club-intro-div{
    flex-direction: column;
  }

  .club-intro p {
    margin: 0 4%;
  }

  .first-heading {
    font-size: 30px;
  }
}