.nav-logo-img {
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}

.nav-profile-img {
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    margin-left: 180px;
}

.nav-profile-name {
    color: white;
    font-size: 12px;
    margin: 5px 0 0 10px;
    cursor: pointer;
}
li{
    margin-left: 23%;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .nav-profile-img {
        display: none;
    }
    .nav-logo-img{
        margin-left: 0;
    }

    .nav-profile-name {
        font-size: 15px;
        margin-left: 0%;
        color: black;
    }
}