.reg {
    z-index: 3;
}

.li {
    margin-left: 0;
}

.footer {
    background-color: white;
    padding: 1% 2%;
    z-index: 3;
    font-weight: 700;
}

.footer a {
    text-decoration: none;
    list-style: none;
}

.email {
    display: flex;
    gap: 1%;
}

.email p {
    margin-top: -2%;
    color: black;
    cursor: pointer;
}

.email p:hover {
    color: black;
}

.footer-top {
    display: flex;
    gap: 73%;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials-icon {
    margin-left: 10%;
    font-size: 35px;
    color: black;
}

.ln {
    color: blue;
}

.insta {
    color: pink;
    font-size: 37px;
}

.github {
    color: white;
}

.footer-nav {
    display: flex;
    gap: 2%;
}

.footer-nav a {
    color: black;
    cursor: pointer;
}

.footer-nav a:hover {
    color: black;
}

.footer-heading {
    text-align: center;
    font-weight: 900;
}

.footer-text {
    text-align: center;
    font-size: 13.5px;
}

.copyrights {
    text-align: left;
    font-size: 13.5px;
}

.footer-optional {
    font-size: 20px;
    margin-left: 2.5%
}

@media only screen and (max-width: 600px) {
    .footer {
        padding: 5%;
    }

    .footer-nav {
        flex-direction: column;
        margin-bottom: 5%;
        font-size: 10px;
    }

    .footer-top {
        gap: 25%;
    }

    .footer-top p {
        font-size: 11px;
    }

    .socials-icon {
        font-size: 18px;
    }

    li {
        margin-left: 0;
        font-size: 12px;
    }

    .reg-event-footer-link {
        font-size: 12px;
    }

    .email p {
        margin-top: 0%;
    }

    .footer-optional {
        font-size: 12px;
        margin-left: 0;
        /*margin-left: 2%*/
    }
}