.backimg {
  width: 15%;
  top: 5%;
  position: absolute;
  left: 5%;
}
.payments {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  z-index: -1;
}
.FormBox {
  position: absolute;
  z-index: 4;
  left: 25%;
  top: 10%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.974);
  padding: 3%;
  /* height: 80%; */
  overflow-y: scroll;
  border-radius: 30px;
  padding-bottom: 1%;
  transition: 0.5s ease;
  align-self: center;
}
.FormBox::-webkit-scrollbar {
  margin-top: 10px;
  width: 4px; /* width of the entire scrollbar */
}

.FormBox::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.FormBox::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  height: 10px;
}
.FormBox1 {
  top: 5%;
}
.FormBox2 {
  top: 22%;
}

.FormBox:hover {
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px,
    rgba(0, 0, 0, 0.3) 0px -12px 30px, rgba(0, 0, 0, 0.28) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.FormBox form {
  display: flex;
  flex-direction: column;
}

.FormBox form input {
  margin: 3%;
  padding: 1%;
  width: 75%;
  align-self: center;
  height: 20%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 110%;
}
.FormBox form label {
  margin: 3%;
  padding: 1%;
  width: 75%;
  align-self: center;
  height: 20%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  font-size: 3vh;
  cursor: pointer;
  color: greenyellow;
}
.FormBox form .detailsSet {
  width: 90%;
  height: fit-content;
  background-color: #282c34;
  padding: 1%;
  margin-left: 5%;
  margin-bottom: 1%;
  border-radius: 20px;
}
.FormBox form p {
  align-self: center;
  color: green;
}

.FormBox form input:focus {
  outline: none;
}

.FormBox form #S {
  width: 35%;
  padding: 2.5%;
  background-color: #282c34;
  color: aliceblue;
  border-radius: 25px;
  font-weight: 450;
  transition: 0.3s ease;
}
form input {
  border-radius: 0px;
}
.FormBox form #S:hover {
  background-color: #000000;
  transition: 0.3s;
}
.submit {
  background-color: #282c34;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  .FormBox {
    width: 90%;
    left: 5%;
    padding: 2%;
  }
  .FormBox form input {
    font-size: 12px;
    margin: 2%;
  }
  .FormBox form .detailsSet {
    padding: 4%;
  }
  .FormBox form label {
    font-size: 15px;
  }

  .UserPopUpForm {
    margin-top: 35%;
    font-size: 8px;
    width: 50%;
  }
}
