body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: #282c34;

}
/* body::-webkit-scrollbar {
  display: none;
} */
body::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 128, 0, 0);
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: black
}

@media only screen and (max-width: 600px) {
  .UserPopUpForm{
    left: 65%;
    height: fit-content;
    padding: 4%;
    background-color: #282c34;
    width:25%;
    top:8%;
  }
  .UserPopUpForm input{
    font-size: 100%;
  }
  .UserPopUpForm input:hover{
    color: rgb(78, 0, 0);
  }
}

.PopUpWindow {
  position: absolute;
  top:0%;
  width: 100%;
  height: 120%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
}
/* 
.StreamPage {
  width:100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}
#ytplayer{
  width:70%;
  height:100%;
  margin: 2%;
  border-radius: 20px;
}
.comments{
  margin-top: 2%;
  height: 100%;
  width:25%;
  border-radius: 20px;
}
.PopUpWindow .LivePopUp input{
  height: 10%;
  border-radius: 15px;
  text-align: center;
  font-size: 150%;
  background-color: rgba(0, 0, 0, 0.737);
  color:#50f11f;
  
} */