body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.UserPopUpForm{
  height: fit-content;
  padding: 1%;
  background-color: #282c34;
  width:15%;
  border-radius: 25px;
  position: relative;
  left: 80%;
  top:10%;
  display: flex;
  flex-direction: column;
}
.UserPopUpForm input{
  padding: 4%;
  margin-top: 3%;
  font-size: 150%;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}
.UserPopUpForm input:hover{
  color: rgb(78, 0, 0);
}
.LivePopUp{
  width:85%;
  height: 80%;
  border-radius: 30px;
  background-color:#282c34;
  position: absolute;
  top:10%;
  left:7.5%;
}

@media only screen and (max-width: 600px) {
  .UserPopUpForm{
    left: 65%;
    height: fit-content;
    padding: 4%;
    background-color: #282c34;
    width:25%;
    top:8%;
  }
  .UserPopUpForm input{
    font-size: 100%;
  }
  .UserPopUpForm input:hover{
    color: rgb(78, 0, 0);
  }
}

.PopUpWindow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
}
.PopUpWindow .PopUpForm{
  position: absolute;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  top:23%;
  background-color:#282c34;
  left:28%;
  padding: 2%;
  border-radius: 25px;

}
.PopUpWindow .PopUpForm p{
  color:#50f11f;
  font-size: 300%;
  font-family: 'Dancing Script', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Golos Text', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.PopUpWindow .PopUpForm #New{
  width:10%;
  font-size: 200%;
  text-decoration: none;
  color:#50f11f
}
.PopUpWindow .PopUpForm #New:hover{
  color: #613587;
}
.PopUpWindow .PopUpForm input{
  height: 10%;
  margin-top: 3%;
  border-radius: 15px;
  text-align: center;
  font-size: 150%;
  background-color: rgba(0, 0, 0, 0.737);
  color:#50f11f;
  
}
.PopUpWindow .PopUpForm input:hover{
  color: #613587;
}
.CancelBtn{
  position: relative;
  width: 30%;
  bottom: 0%;
}
.StreamPage {
  width:100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}
#ytplayer{
  width:70%;
  height:100%;
  margin: 2%;
  border-radius: 20px;
}
.comments{
  margin-top: 2%;
  height: 100%;
  width:25%;
  border-radius: 20px;
}
.PopUpWindow .LivePopUp input{
  height: 10%;
  border-radius: 15px;
  text-align: center;
  font-size: 150%;
  background-color: rgba(0, 0, 0, 0.737);
  color:#50f11f;
  
}
/* Footer css */
/* .NoInfo{
  height: 80%;
  overflow: hidden;
  width:80%;
  color:transparent;
  text-align: center;
  justify-content: center;
}
.NoInfo p{
  color:#000000;
  font-size:350%;
}
@media only screen and (max-width: 600px) {
  .NoInfo p{
    font-size: 150%;
    text-align: center;
  }
} */

