body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home css with all its components */
.Home{
  height: 100%;
  width: 100%;
  background-color:rgba(127, 255, 212, 0.557);
  position: fixed;
}
/* Navbar css code here */

.Navbar{
  background-color: black;
  width: 100%;
  height: 10%;
  position: fixed;
  display: flex;
}
.Navbar .Links{
  padding-left:2%;
  color:aliceblue;
  text-decoration: none;
  font-size: 150%;
  margin-right: 4%;
  border-style:solid;
  border-bottom-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  max-height: 95%;
  min-width:10%;
  text-align: center;
  padding: 1%;
  border-width: 6px;
}
.Navbar .Links:hover{
  color: aquamarine;
  border-bottom-color: aquamarine;
}

/* Events css */

.Events{
  left: 5%;
  width:90%;
  height: 60%;
  overflow:auto;
  background-color: transparent;
  width:90%;
  display:flex;
  top:15%; 
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
}
.Events::-webkit-scrollbar{
  -webkit-appearance: none;
}
.Events .Event{
  color:transparent;
  min-width: 40%;
  border-radius: 30px;
  padding: 2%;
  margin-right: 5%;
  background-size:cover;
  background-color: rgba(0, 0, 0, 0.737);
}
.Events .Event:hover{
  background-blend-mode: darken;
  color:aliceblue;
}
.moreInfo{
  transition: 0.5s ease;
  overflow-y: scroll;
  height: 70%;
  width:95%;
}
.moreInfo::-webkit-scrollbar{
  -webkit-appearance: none;
}
.moreInfo p{
  padding: 0%;
}
.moreInfo .EventName{
  font-size: 400%;
  font-weight: 600;
}
.moreInfo .description{
  font-size:175%;
}
.time{
  font-size: 150%;

}
.Price{
  font-size: 150%;
}

.RegisterBtn{
  /* padding: 1%; */
  background-color: greenyellow;
  position: relative;
  font-size: 200%;
  width:25%;
  height:15%;
  border: none;
  border-radius: 25px;
  left:37.5%;
  margin-top:4%;
  
}
/* Event PopUp Form css */
.PopUpWindow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
}
.PopUpWindow .PopUpForm{
  position: absolute;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  top:23%;
  background-color: aliceblue;
  left:28%;
  padding: 2%;
  border-radius: 25px;
}
.PopUpWindow .PopUpForm input{
  height: 10%;
  margin-top: 3%;
  border-radius: 15px;
  text-align: center;
}
.CancelBtn{
  position: absolute;
  left: 95%;
  background-color: transparent;
  color: white;
  width:5%;
  height:5%;
  font-size: 300%;
  padding: 2%;
  cursor: pointer;
}

/* Login and Regsiter page css */
.FormBox{
  position: absolute;
  left:30%;
  top:17%;
  width:40%;
  background-color: azure;
  padding: 3%;
  min-height: 30%;
  border-radius: 30px;
  height: fit-content;
  padding-bottom: 1%;
  transition: 0.5s ease;
  align-self: center;
}
.FormBox:hover{
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px, rgba(0, 0, 0, 0.3) 0px -12px 30px, rgba(0, 0, 0, 0.28) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.FormBox form{
  display: flex;
  flex-direction: column;
}
.FormBox form input{
  margin:3%;
  padding: 1%;
  width: 75%;
  align-self: center;
  height: 20%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 110%;
}
.FormBox form label{
  margin:3%;
  padding: 1%;
  width: 75%;
  align-self: center;
  height: 20%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 110%;
  display: flex;
  font-size: 150%;
  cursor: pointer;
  color: #000000;
}
.FormBox form p{
  align-self: center;
}

.FormBox form input:focus{
  outline: none;
}
.FormBox form #S{
  width:35%;
  padding: 2.5%;
  background-color: #282c34;
  color: aliceblue;
  border-radius: 25px;
  font-weight: 450;
  transition: 0.3s ease;
}
.FormBox form #S:hover{
  background-color: #000000;
  transition: 0.3s;
}